*{
  margin: 0;
}

.navigationBar{
  background-color: #feee00;
}
@media only screen and (min-width: 1040px) {
  body{
    overflow-x: hidden;
  }
 }

.footer-1 div{
  width: 14%;
}
ul{
  list-style: none;  
  font-size: 14px;
  padding: 0;
}